FactoryIB/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "FactoryIB"
		},
		"OnPremSqlServerGGK_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OnPremSqlServerGGK'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"ls_TST_BLB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_TST_BLB'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ToCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "tst"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremSqlServerGGK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "on premise verbinding van SQL Server GGK",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('OnPremSqlServerGGK_connectionString')]"
				},
				"connectVia": {
					"referenceName": "GGK02integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ir-DWH21-PRD-GGK",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_TST_BLB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_TST_BLB_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ir-DWH21-TST-GGK",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime8')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "/subscriptions/8bf5716e-cbb9-4bef-86f6-42ed7d1a872a/resourceGroups/TriDatawarehouseIB/providers/Microsoft.Sql/servers/datawarehouse01",
				"groupId": "sqlServer"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_4yo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_4yo",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "ggkwbe//"
							},
							{
								"name": "Destination",
								"value": "/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_4yo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_4yo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyfromFileStoragetoDataLake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "CopyfromFileStoragetoDataLake",
				"activities": [
					{
						"name": "Copy_wph",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "adftutorial//"
							},
							{
								"name": "Destination",
								"value": "adftutorial//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"skipErrorFile": {
								"fileMissing": true
							},
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_wph",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_wph",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLServerToBlobPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopySqlServerToAzureBlobActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureBlobDatase",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SI_TST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_TST_BLB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CBSGemeenteLijst"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_TST_BLB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnPremSqlServerGGK",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ServerName",
						"type": "nvarchar"
					},
					{
						"name": "CheckDate",
						"type": "datetimeoffset",
						"scale": 7
					},
					{
						"name": "Priority",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "FindingsGroup",
						"type": "varchar"
					},
					{
						"name": "Finding",
						"type": "varchar"
					},
					{
						"name": "DatabaseName",
						"type": "nvarchar"
					},
					{
						"name": "URL",
						"type": "varchar"
					},
					{
						"name": "Details",
						"type": "nvarchar"
					},
					{
						"name": "QueryPlan",
						"type": "xml"
					},
					{
						"name": "QueryPlanFiltered",
						"type": "nvarchar"
					},
					{
						"name": "CheckID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "Blitz",
					"table": "BlitzVerzamel"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnPremSqlServerGGK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JW301')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "JW"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Bericht_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Header_Functie",
						"type": "nvarchar"
					},
					{
						"name": "Header_Referentienummer",
						"type": "nvarchar"
					},
					{
						"name": "Header_Crossreferentienummer",
						"type": "nvarchar"
					},
					{
						"name": "Datum_VerzondenUTC",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "Datum_OntvangenUTC",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "IsWebservice",
						"type": "bit"
					},
					{
						"name": "BerichtCode",
						"type": "varchar"
					},
					{
						"name": "BerichtVersie",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BerichtSubversie",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Afzender",
						"type": "varchar"
					},
					{
						"name": "Ontvanger",
						"type": "varchar"
					},
					{
						"name": "Identificatie",
						"type": "varchar"
					},
					{
						"name": "Dagtekening",
						"type": "date"
					},
					{
						"name": "Client_Bsn",
						"type": "varchar"
					},
					{
						"name": "Beschikking_BeschikkingNummer",
						"type": "varchar"
					},
					{
						"name": "Beschikking_Grondslag01",
						"type": "char"
					},
					{
						"name": "Beschikking_Grondslag02",
						"type": "char"
					},
					{
						"name": "Beschikking_Afgiftedatum",
						"type": "date"
					},
					{
						"name": "Beschikking_Ingangsdatum",
						"type": "date"
					},
					{
						"name": "Beschikking_Einddatum",
						"type": "date"
					},
					{
						"name": "Client_Bsn_Hashed",
						"type": "varbinary"
					},
					{
						"name": "Client_Geboortedatum",
						"type": "date"
					},
					{
						"name": "Client_DatumGebruik",
						"type": "char"
					},
					{
						"name": "Client_Geslacht",
						"type": "char"
					},
					{
						"name": "Client_Geslachtsnaam",
						"type": "varchar"
					},
					{
						"name": "Client_GeslachtsnaamVoorvoegsel",
						"type": "varchar"
					},
					{
						"name": "Client_Partnernaam",
						"type": "varchar"
					},
					{
						"name": "Client_PartnernaamVoorvoegsel",
						"type": "varchar"
					},
					{
						"name": "Client_Voornamen",
						"type": "varchar"
					},
					{
						"name": "Client_Voorletters",
						"type": "varchar"
					},
					{
						"name": "Client_NaamGebruik",
						"type": "char"
					},
					{
						"name": "Client_CommunicatieVorm",
						"type": "char"
					},
					{
						"name": "Client_CommunicatieTaal",
						"type": "varchar"
					},
					{
						"name": "Client_JuridischeStatus",
						"type": "char"
					},
					{
						"name": "Client_WettelijkeVertegenwoordiging",
						"type": "char"
					},
					{
						"name": "Client_CommentaarInd",
						"type": "char"
					},
					{
						"name": "Beschikking_CommentaarInd",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "JW301"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JW301_Beperking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "JW"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Bericht_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "BeschikkingNummer",
						"type": "varchar"
					},
					{
						"name": "Beperking_Categorie",
						"type": "char"
					},
					{
						"name": "Beperking_Duur",
						"type": "char"
					},
					{
						"name": "Beperking_CommentaarInd",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "JW301_Beperking"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JW301_BeperkingScore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "JW"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Bericht_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "BeschikkingNummer",
						"type": "varchar"
					},
					{
						"name": "Beperking_Categorie",
						"type": "char"
					},
					{
						"name": "Beperking_Vraag",
						"type": "varchar"
					},
					{
						"name": "Beperking_Score",
						"type": "varchar"
					},
					{
						"name": "BeperkingScore_CommentaarInd",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "JW301_BeperkingScore"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JW301_ClientContact')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "JW"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Bericht_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AdresSoort",
						"type": "char"
					},
					{
						"name": "AdresHuisnummer",
						"type": "char"
					},
					{
						"name": "AdresHuisletter",
						"type": "char"
					},
					{
						"name": "AdresHuisnummerToevoeging",
						"type": "varchar"
					},
					{
						"name": "AdresAanduidingWoonadres",
						"type": "char"
					},
					{
						"name": "Postcode",
						"type": "varchar"
					},
					{
						"name": "Straatnaam",
						"type": "varchar"
					},
					{
						"name": "Plaatsnaam",
						"type": "varchar"
					},
					{
						"name": "LandCode",
						"type": "char"
					},
					{
						"name": "Organisatie",
						"type": "varchar"
					},
					{
						"name": "Telefoonnummer01",
						"type": "varchar"
					},
					{
						"name": "TelefoonLandnummer01",
						"type": "varchar"
					},
					{
						"name": "Telefoonnummer02",
						"type": "varchar"
					},
					{
						"name": "TelefoonLandnummer02",
						"type": "varchar"
					},
					{
						"name": "Emailadres",
						"type": "varchar"
					},
					{
						"name": "ContactBegindatum",
						"type": "date"
					},
					{
						"name": "ContactEinddatum",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "JW301_ClientContact"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JW301_ClientRelatie')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "JW"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Bericht_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "RelatieNummer",
						"type": "varchar"
					},
					{
						"name": "RelatieVolgorde",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RelatieSoort",
						"type": "char"
					},
					{
						"name": "Geboortdatum",
						"type": "date"
					},
					{
						"name": "GeboortDatumGebruik",
						"type": "char"
					},
					{
						"name": "Geslacht",
						"type": "char"
					},
					{
						"name": "Geslachtsnaam",
						"type": "varchar"
					},
					{
						"name": "GeslachtsnaamVoorvoegsel",
						"type": "varchar"
					},
					{
						"name": "Partnernaam",
						"type": "varchar"
					},
					{
						"name": "PartnernaamVoorvoegsel",
						"type": "varchar"
					},
					{
						"name": "Voornamen",
						"type": "varchar"
					},
					{
						"name": "Voorletters",
						"type": "varchar"
					},
					{
						"name": "NaamGebruik",
						"type": "char"
					},
					{
						"name": "AdresSoort",
						"type": "char"
					},
					{
						"name": "AdresHuisnummer",
						"type": "char"
					},
					{
						"name": "AdresHuisletter",
						"type": "char"
					},
					{
						"name": "AdresHuisnummerToevoeging",
						"type": "varchar"
					},
					{
						"name": "AdresAanduidingWoonadres",
						"type": "char"
					},
					{
						"name": "Postcode",
						"type": "varchar"
					},
					{
						"name": "Straatnaam",
						"type": "varchar"
					},
					{
						"name": "Plaatsnaam",
						"type": "varchar"
					},
					{
						"name": "LandCode",
						"type": "char"
					},
					{
						"name": "Organisatie",
						"type": "varchar"
					},
					{
						"name": "Telefoonnummer01",
						"type": "varchar"
					},
					{
						"name": "TelefoonLandnummer01",
						"type": "varchar"
					},
					{
						"name": "Telefoonnummer02",
						"type": "varchar"
					},
					{
						"name": "TelefoonLandnummer02",
						"type": "varchar"
					},
					{
						"name": "Emailadres",
						"type": "varchar"
					},
					{
						"name": "RelatieBegindatum",
						"type": "date"
					},
					{
						"name": "RelatieEinddatum",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "JW301_ClientRelatie"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JW301_ToegewezenProduct')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "JW"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Bericht_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ToegewezenProduct_ToewijzingNummer",
						"type": "varchar"
					},
					{
						"name": "ToegewezenProduct_ReferentieAanbieder",
						"type": "varchar"
					},
					{
						"name": "ToegewezenProduct_ProductCategorie",
						"type": "char"
					},
					{
						"name": "ToegewezenProduct_ProductCode",
						"type": "char"
					},
					{
						"name": "ToegewezenProduct_Toewijzingsdatum",
						"type": "date"
					},
					{
						"name": "ToegewezenProduct_Toewijzingstijd",
						"type": "time",
						"scale": 7
					},
					{
						"name": "ToegewezenProduct_Ingangsdatum",
						"type": "date"
					},
					{
						"name": "ToegewezenProduct_Einddatum",
						"type": "date"
					},
					{
						"name": "ToegewezenProduct_RedenWijziging",
						"type": "char"
					},
					{
						"name": "ToegewezenProduct_OmvangVolume",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ToegewezenProduct_OmvangEenheid",
						"type": "char"
					},
					{
						"name": "ToegewezenProduct_OmvangFrequentie",
						"type": "char"
					},
					{
						"name": "JW301_ToegewezenProduct_ID",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "JW301_ToegewezenProduct"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime8",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "JW301",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_JW301",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ToCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "JW301_Beperking",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "JW301",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_JW301_Beperking",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ToCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "JW301_BeperkingScore",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "JW301_Beperking",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_JW301_BeperkingScore",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ToCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "JW301_ClientContact",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "JW301_BeperkingScore",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_JW301_ClientContact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ToCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "JW301_ClientRelatie",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "JW301_ClientContact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_JW301_ClientRelatie",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ToCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "JW301_ToegewezenProduct",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "JW301_ClientRelatie",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_JW301_ToegewezenProduct",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ToCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_JW301')]",
				"[concat(variables('factoryId'), '/datasets/ToCSV')]",
				"[concat(variables('factoryId'), '/datasets/ds_JW301_Beperking')]",
				"[concat(variables('factoryId'), '/datasets/ds_JW301_BeperkingScore')]",
				"[concat(variables('factoryId'), '/datasets/ds_JW301_ClientContact')]",
				"[concat(variables('factoryId'), '/datasets/ds_JW301_ClientRelatie')]",
				"[concat(variables('factoryId'), '/datasets/ds_JW301_ToegewezenProduct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GGKCopyData",
						"description": "Data van on premise database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "GGKDelimitedText",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		}
	]
}